{% extends "base.html" %}

{% block head %}
<title>Explore</title>
<link rel="stylesheet" href="static/css/explore.css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="input-group col-md-7">
        <input type="text" class="form-control" placeholder="Search" id="txtSearch"/>
        <div class="input-group-btn">
          <button class="btn btn-outline-dark" type="submit">
              <i class="fas fa-search"></i>
          </button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div id="map" class="col-md-8"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body"></div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
<script src="https://maps.googleapis.com/maps/api/js?key=your_key&callback=initMap" async defer></script>
<script src="static/js/explore.js"></script>
{% endblock%}
